{% extends "base.html" %}

{% set active_page = "index" %}

{% block title %}Index{% endblock %}

{% block css %}<link href="static/css/index.css" rel="stylesheet">{% endblock %} 

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
    	   <h1>Welcome to <strong>GHOME</strong></h1>
    	   <p>From this interface, you will be able to configure the Laser Game</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h2>Devices</h2>
            <p>View a list of all connected devices and have a look on provided data.</p>
        </div>

        <div class="col-md-4">
            <h2>Map</h2>
            <p>Create the laser game map in order to have a clean interface when the game is launched.</p>
        </div>

        <div class="col-md-4">
            <h2>Play</h2>
            <p>Play as a real human being and simulate your position with the play view.</p>
        </div>
    </div>
{% endblock %}

{% block js %}<script src="static/js/easter_eggs/jeromecmoi.js"></script>{% endblock %}