.colonne_devices {
    
}

#new_device_button {
	/* faire en sorte que le bouton soit fixé au bas 
	de la page uniquement quand il n'est pas visible ?*/
}

.colonne_content {
    
}

.attribute_list {
    
}

.attribute {
    content: "<br/>";
}

.attr_label {
    font-weight: bold;
}

.attr_label::after {
    content: " : ";
}

.attr_value {
    
}

#plan {

}

#plan.undefined {
	font-weight: bold;
}
