body {
    padding-top: 50px;
    overflow-y: scroll;
}

.container {
    max-width: 900px !important;   
}

.wrapper {

}

.notif {
    margin-top: 20px;
    text-align: left;
}

footer {
    text-align: center;
}

/* BAR COLORS */

.navbar {
    background-color: #3f5e8c;
    border-color: #3e85ed !important;
}

.navbar a {
    color: #e5f0ec !important;
}

.navbar a:hover {
    color: white !important;
}

.navbar li.active a {
    background-color: #3e85ed !important;
}

.navbar .navbar-toggle {
    background-color: #3e85ed !important;
}

/* Creation of a callout effect */

.callout {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    text-align: left;
    border-radius: 0 4px 4px 0;
    border-left: 3px solid #9E9E9E;
    background-color: #fdf7f7;
}

.callout h4 {
    color: #9E9E9E;
}

.callout p {
    text-align: justify;
}

/* Callout colors */

.callout.blue {
    border-left: 3px solid #5bc0de;
}

.callout.blue h4 {
    color: #5bc0de;
}

.callout.red {
    border-left: 3px solid #d9534f;
}

.callout.red h4 {
    color: #d9534f;
}

.callout.yellow {
    border-left: 3px solid #f0ad4e;
}

.callout.yellow h4 {
    color: #f0ad4e;
}

.callout.green {
    border-left: 3px solid #468847;
}

.callout.green h4 {
    color: #468847;
}
