body {
    padding-top: 50px;
    overflow-y: scroll;
}

.container {
    max-width: 900px;   
}

.wrapper {

}

.notif {
    margin-top: 20px;
    text-align: left;
}

/* BAR COLORS */

.navbar {
    background-color: #3f5e8c;
    border-color: #3e85ed !important;
}

.navbar a {
    color: #e5f0ec !important;
}

.navbar a:hover {
    color: white !important;
}

.navbar li.active a {
    background-color: #3e85ed !important;
}

.navbar .navbar-toggle {
    background-color: #3e85ed !important;
}