.colonne_devices {
    max-width: 200px;
}

.colonne_content {
    
}

.attribute_list {
    
}

.attribute {
    content: "<br/>";
}

.attr_label {
    font-weight: bold;
}

.attr_label::after {
    content: " : ";
}

.attr_value {
    
}
