.wrapper{
    text-align: center;
}

#plan {
    border: 2px #313131 solid;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    background-color: #F4F6FF;
}