{% extends "base.html" %}

{% set active_page = "connection" %}

{% block title %}Connection{% endblock %}

{% block css %}<link href="static/css/connection.css" rel="stylesheet">{% endblock %} 

<!-- Hide the menu (Redefine it blank) -->
{% block menu %}{% endblock %}

{% block content %}
<form class="form-signin" role="form" method="post">
	<h2 class="form-signin-heading">Please sign in</h2>
	<input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
	<input type="password" class="form-control" name="password" placeholder="Password" required>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Se logguer</button>
</form>
{% endblock %}