{% extends "base.html" %} 
{% set active_page = "devices" %} 
{% block title %}Devices{% endblock %} 
{% block content %}
{% block css %}
    <link href="static/css/devices.css" rel="stylesheet">
{% endblock %}

<div class="page-header">
    <h1>
        Liste des périphériques
    </h1>
</div>
<nav class="tabbable tabs-left">
    <div class="row">
        <div class="col-md-6 colonne_devices">
            <ul class="nav nav-pills">
                {% for device in devices %}
                <li>
                    <a href="#device_{{ loop.index }}" data-toggle="tab">{{ device.name }}</a>
                </li>
                {% endfor %}
                <li>
                    <a href="#device_new" data-toggle="tab" class="label label-default">Nouveau périphérique</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 colonne_content">
            <div class="tab-content">
                {% for device in devices %}
                <div class="tab-pane" id="device_{{ loop.index }}">
                    <div class="attributes_list">
                    <div class="attribute"><span class="attr_label">Type</span><span class="attr_value">{{ device.type }}</span></div>
                    <div class="attribute"><span class="attr_label">Id physique</span><span class="attr_value">{{ device.physic_id }}</span></div>
                    <div class="attribute"><span class="attr_label">Nom</span><span class="attr_value">{{ device.name }}</span></div>
                    <form method="POST" action="/devices/remove">
                        <input type="hidden" name="physic_id" value="{{ device.physic_id }}">
                        <button type="submit" class="label label-default"><span class="glyphicon glyphicon-trash"> Supprimer</span></button>
                    </form>
                    </div>
                </div>
                {% endfor %}
                <div class="tab-pane" id="device_new">
                    <form method="POST" action="/devices">
                        {{ form.csrf_token }}
                        {{ form.device_type.label }} {{ form.device_type }}<br/>
                        {{ form.physic_id.label }} {{ form.physic_id(size=20) }}<br/>
                        {{ form.name.label }} {{ form.name(size=20) }}<br/>
                        <input type="submit" value="Valider">
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock %}